language: android
android:
  components:
    - android-27
    - build-tools-27.0.3


script:
 git clone https://github.com/facebook/infer.git
 INFER_PATH="./infer"
 #cd infer/
 #make -C infer java
 #export PATH=`pwd`/infer/bin:$PATH
