language: android
android:
  components:
    - android-27
    - build-tools-27.0.3

script:
 - #TODO: get infer archive and extract it
 - #TODO: add infer executable to the path
 - #TODO: invoke infer with your project
