language: android
android:
  components:
    - android-27
    - build-tools-27.0.3


script:
 - git clone https://github.com/facebook/infer.git
 - INFER_PATH="./infer"
 - ./infer/infer/bin run -- gradle build
