language: android
android:
  components:
    - android-27
    - build-tools-27.0.3


script:
 INFER_GIT_PATH="https://github.com/facebook/infer.git"
 git clone ${INFER_GIT_PATH}
 INFER_PATH="./infer/infer/bin/infer"
 INFER_PATH run -- ./gradlew build
