language: android
android:
  components:
    - android-27
    - build-tools-27.0.3


script:
 git clone ${"https://github.com/facebook/infer.gitH"}
 INFER_PATH="./infer/infer/bin/infer"
 INFER_PATH run -- ./gradlew build
